﻿@*@model CategoryNavigationModel
@using Nop.Web.Models.Catalog;

@functions{
    public bool BreadCrumbContainsCurrentCategoryId(CategorySimpleModel category)
    {
        if (Model.CurrentCategoryId == 0)
            return false;

        if (category.Id == Model.CurrentCategoryId)
            return true;

        foreach (var subCategory in category.SubCategories)
        {
            if (BreadCrumbContainsCurrentCategoryId(subCategory))
            {
                return true;
            }
        }
        return false;
    }
}
@helper RenderCategoryLine(CategorySimpleModel category)
{
bool active = category.Id == Model.CurrentCategoryId || category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0;
bool last = category.Id == Model.CurrentCategoryId;
string liClass = active ? "active" : "inactive";
if (last)
{
    liClass += " last";
}
    <option value="@Url.RouteUrl("Category", new { SeName = category.SeName })">
            @category.Name
        @if (category.NumberOfProducts.HasValue)
        {
            <text> </text>@T("Categories.TotalProducts", category.NumberOfProducts.Value)
        }
    </option>
    @{
        if (category.Id == Model.CurrentCategoryId ||
            category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0)
        {
            if (category.SubCategories.Count > 0)
            {
                @foreach (var subCategory in category.SubCategories)
                    {
                        @RenderCategoryLine(subCategory)
                    }
            }
        }
    }
}
<div class="product-selectors">
     @if (Model.Categories.Count > 0)
    {
        <div class="block block-category-navigation">
           <select >
                    @foreach (var category in Model.Categories)
                    {
                        @RenderCategoryLine(category)
                    }
                
            </select>
        </div>
    }
</div>*@
Hello world !