﻿@model  IList<ProductOverviewModel>
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;

@helper ProductViewPage(ProductOverviewModel product)
{
//prepare "Add to cart" AJAX link
string addtocartlink = "";
var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
var quantity = 1;
if (product.ProductPrice.ForceRedirectionAfterAddingToCart)
{
    addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = product.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = product.ProductPrice.ForceRedirectionAfterAddingToCart });
}
else
{
    addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = product.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
}

var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = product.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = product.Id });


    <div class="product-item" data-productid="@product.Id">
        <div class="picture">
            <a href="@Url.RouteUrl("Product", new { SeName = product.SeName })" title="@product.DefaultPictureModel.Title">
                <img alt="@product.DefaultPictureModel.AlternateText" src="@product.DefaultPictureModel.ImageUrl" title="@product.DefaultPictureModel.Title" />
            </a>
        </div>
        <div class="details">
            <h2 class="product-title">
                <a href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a>
            </h2>
            @if (product.ReviewOverviewModel.AllowCustomerReviews)
            {
                int ratingPercent = 0;
                if (product.ReviewOverviewModel.TotalReviews != 0)
                {
                    ratingPercent = ((product.ReviewOverviewModel.RatingSum * 100) / product.ReviewOverviewModel.TotalReviews) / 5;
                }
                <div class="product-rating-box" title="@string.Format(T("Reviews.TotalReviews").Text, product.ReviewOverviewModel.TotalReviews)">
                    <div class="rating">
                        <div style="width: @(ratingPercent)%">
                        </div>
                    </div>
                </div>
            }
            <div class="description">
                @Html.Raw(product.ShortDescription)
            </div>
            <div class="add-info">
                @Html.Widget("productbox_addinfo_before", product.Id)
                <div class="prices">
                    @if (!String.IsNullOrEmpty(product.ProductPrice.OldPrice))
                    {
                        <span class="price old-price">@product.ProductPrice.OldPrice</span>
                    }
                    <span class="price actual-price">@product.ProductPrice.Price</span>
                    @if (product.ProductPrice.DisplayTaxShippingInfo)
                    {
                        var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                        //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                        //of course, you can modify appropriate locales to include VAT info there
                        <span class="tax-shipping-info">
                            @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                        </span>
                    }
                </div>
                @Html.Widget("productbox_addinfo_middle", product.Id)
                <div class="buttons">
                    @*<input type="button" value="@T("Products.Details")" class="button-1 product-box-detail-button" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = Model.SeName })')" />*@
                    @if (!product.ProductPrice.DisableBuyButton)
                    {
                        var addToCartText = T("ShoppingCart.AddToCart").Text;
                        if (product.ProductPrice.IsRental)
                        {
                            addToCartText = T("ShoppingCart.Rent").Text;
                        }
                        if (product.ProductPrice.AvailableForPreOrder)
                        {
                            addToCartText = T("ShoppingCart.PreOrder").Text;
                        }
                        <input type="button" value="@(addToCartText)" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />
                    }
                    @if (!product.ProductPrice.DisableAddToCompareListButton)
                    {
                        <input type="button" value="@T("ShoppingCart.AddToCompareList")" title="@T("ShoppingCart.AddToCompareList")" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;" />
                    }
                    @if (!product.ProductPrice.DisableWishlistButton)
                    {
                        <input type="button" value="@T("ShoppingCart.AddToWishlist")" title="@T("ShoppingCart.AddToWishlist")" class="button-2 add-to-wishlist-button" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;" />
                    }
                </div>
                @Html.Widget("productbox_addinfo_after", product.Id)
            </div>
        </div>
    </div>
}

@if (Model.Count > 0)
{
    <div class="item-grid" product-area>
        @foreach (var product in Model)
        {
        <div class="item-box">
            @ProductViewPage(product)
        </div>
        }
     </div>
}






