﻿@model CatalogPagingFilteringModel.PriceRangeFilterModel
@using Nop.Web.Models.Catalog;
@{
    Html.AddCssFileParts(ResourceLocation.Head, "~/Content/CustomStyle/range-style.css");
}

@if (Model.Enabled)
{
    <div class="product-filter price-range-filter">
       

        <div class="filter-title">
            <strong>@T("Filtering.PriceRangeFilter")</strong>
        </div>
        <div class="ui-slider-box">
            <div class="ui-amount-box">
                @*<label for="amount">Price range:</label>*@
                <input type="text" amount id="amount"  class="ui-amount-slider"> -
                <input type="text" amount id="amount_1" class="ui-amount-slider">
            </div>
            <div id="slider-range" class="ui-slider-range"></div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {

        var minPrice = '@Model.Items[0].From';
        var maxPrice = '@Model.Items[0].To';

        $(function () {
            $("#slider-range").slider({
                range: true,
                min: minPrice,
                max: maxPrice,
                values: [minPrice, maxPrice],
                slide: function (event, ui) {
                    $("#amount").val(ui.values[0]);
                    $("#amount_1").val(ui.values[1]);
                }
            });
            $("#amount").val($("#slider-range").slider("values", 0));
            $("#amount_1").val($("#slider-range").slider("values", 1));

            $('input#amount').change(function(){
                var value1=$('input#amount').val();
                var value2=$('input#amount_1').val();

                if(parseInt(value1) > parseInt(value2)){
                    value1 = value2;
                    $('#input#amount').val(value1)
                }
                $('#slider-range').slider('values',0,value1);
            });

            $('input#amount_1').change(function(){
                var value1=$('input#amount').val();
                var value2=$('input#amount_1').val();

                if(parseInt(value1) > parseInt(value2)){
                    value2 = value1;
                    $('#input#amount_1').val(value2)
                }
                $('#slider-range').slider('values',1,value2);
            });


            
        });

    });

</script>
