﻿@model CatalogPagingFilteringModel.SpecificationFilterModel
@using System.Linq
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.UI
@using Nop.Web.Models.Catalog;
@{
    var notFilteredItemsGroups = Model.NotFilteredItems.GroupBy(x => x.SpecificationAttributeName);
    var allFilteredItemsGroups = Model.AllFilteredItems.GroupBy(x => x.SpecificationAttributeName);

}

@{ string displayState = Model.AlreadyFilteredItems.Count > 0 ? "show" : "none"; }
<div class="block block-product-spec-filter" id="blockSpecFiltered" style="display:@displayState">
    <div class="title">
        <h3>@T("Filtering.SpecificationFilter.CurrentlyFilteredBy")</h3>
    </div>
    <div class="panel-filter-content" id="allreadyFilteredItemsList">
        <ul class="already-filtered-items">
            @foreach (var item in Model.AlreadyFilteredItems)
            {
                <li class="item">
                    @*@(item.SpecificationAttributeName):*@
                    <a deleteFilterId="@item.SpecsFilterId">@item.SpecificationAttributeOptionName</a>
                </li>
            }
        </ul>
        <ul>
            <li class="remove-filter">
                <a class="btn btn-default" removeAllFilters href="@Model.RemoveFilterUrl">@T("Filtering.SpecificationFilter.Remove")</a>
            </li>
        </ul>
    </div>
</div>
@if (Model.Enabled)
{
    <div class="product-filter product-spec-filter">
        <div class="filter-title">
            <strong>@T("Filtering.SpecificationFilter")</strong>
        </div>
        @*Show themed Filters Seperatley*@
        @if (Model.AllFilteredItems.Count > 0)
        {
            foreach (var group in allFilteredItemsGroups)
            {
                var groupList = group.ToList();
                <div class="block block-product-spec-filter">
                    <div class="title">
                        <h3>@groupList[0].SpecificationAttributeName</h3>
                    </div>
                    <div class="available-items">
                        <div class="panel-filter-content">
                            <ul class="group product-spec-group">
                                @foreach (var spec in groupList)
                                {
                                    <li class="item">
                                        <input type="checkbox" id="@spec.SpecsFilterId" specsId="@spec.SpecsFilterId" />
                                        <label for="@spec.SpecsFilterId" style="cursor: pointer;">
                                            @spec.SpecificationAttributeOptionName
                                        </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

            }

        }
    </div>
}
