﻿@model CategoryModel
@{


    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddCssFileParts(ResourceLocation.Head, "~/Content/CustomStyle/LoadingSpinner.css");


    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;

    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }

    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }

    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@*category breadcrumb*@
@section Breadcrumb
{
    @if (Model.DisplayCategoryBreadcrumb)
    {
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                    <span class="delimiter">@breadcrumbDelimiter</span>
                </li>
                @foreach (var cat in Model.CategoryBreadcrumb)
                {
                    var isLastCategory = cat.Id == Model.Id;
                    <li>
                        @if (isLastCategory)
                        {
                            <strong class="current-item">@cat.Name</strong>
                        }
                        else
                        {
                            <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                            <span class="delimiter">@breadcrumbDelimiter</span>
                        }
                    </li>
                }
            </ul>
        </div>
        @Html.Widget("categorydetails_after_breadcrumb", Model.Id)
    }
}
<div class="page category-page">
    <div class="page-title">
        <h1>@Model.Name</h1>
    </div>
    <div class="page-body">
        @Html.Widget("categorydetails_top", Model.Id)
        @*description*@
        @if (!String.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="category-description">
                @Html.Raw(Model.Description)
            </div>
        }
        @Html.Widget("categorydetails_before_subcategories", Model.Id)
        @*subcategories*@
        @if (Model.SubCategories.Count > 0)
        {
            <div class="category-grid sub-category-grid">
                <div class="item-grid">
                    @foreach (var item in Model.SubCategories)
                    {
                        <div class="item-box">
                            <div class="sub-category-item">
                                <h2 class="title">
                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        @item.Name
                                    </a>
                                </h2>
                                <div class="picture">
                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        @Html.Widget("categorydetails_before_featured_products", Model.Id)
        @*featured products*@
        @if (Model.FeaturedProducts.Count > 0)
        {
            <div class="product-grid featured-product-grid">
                <div class="title">
                    <strong>@T("Products.FeaturedProducts")</strong>
                </div>
                <div class="item-grid">
                    @foreach (var item in Model.FeaturedProducts)
                    {
                        <div class="item-box">



                            @Html.Partial("_ProductBox", item)
                        </div>
                    }
                </div>
            </div>
        }
        @Html.Widget("categorydetails_after_featured_products", Model.Id)
        @if (Model.Products.Count > 0)
        {
            @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
        }
        @*It is left column with box of filter  and categories*@
        @section left
        {
            @Html.Widget("left_side_column_before")
            @Html.Widget("categorydetails_before_filters")

            @Html.Widget("categorydetails_before_filters", Model.Id)
            @Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
            @Html.Widget("left_side_column_after_category_navigation")
            <div class="product-filters" id="customFilter">
                @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
                {
                    @Html.Partial("_CustomFilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter, new ViewDataDictionary())

                }

                @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
                {
                    @Html.Partial("_CustomFilterSpecsBox", Model.PagingFilteringContext.SpecificationFilter, new ViewDataDictionary())
                }
            </div>
            @Html.Widget("categorydetails_before_product_list", Model.Id)
            @Html.Action("VendorNavigation", "Catalog")
            @Html.Action("NewsletterBox", "Newsletter")
            @Html.Widget("left_side_column_after")
        }



        @if (Model.Products.Count > 0)
        {
            <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")" id="product_area">
                @Html.Partial("_CustomProductViewBox", Model.Products)
            </div>
        }
        <div id="pagination_area">
            @Html.Partial("_Pagening", Model.PagingFilteringContext)
        </div>
        @Html.Widget("categorydetails_bottom", Model.Id)
    </div>
</div>

@* block for loading *@
<div class="loading-area" style="display:none">
    <div id="fountainG">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
    </div>
</div>





@{

    if (Url.RequestContext.RouteData.Values["categoryId"] != null)
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }

    if (Url.RequestContext.RouteData.Values["manufacturerId"] != null)
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }
}
<script type="text/javascript">
    $(document).ready(function () {

        var filterData = {};

        // Initialisation values for default
        filterData.categoryId = @currentCategoryId;
        filterData.manufacturerId = @currentManufacturerId;

        var currentOrderById = parseInt($('#products-orderby option[selected]').attr('value'));
        filterData.orderBy =isNaN(currentOrderById) ? 0 : currentOrderById;

        filterData.viewMode = $('.product-viewmode > a[class="viewmode-icon list selected"]').length > 0  ? 'list' : 'grid';
        var currentPageNumber = parseInt($('.pager > ul > li[class="current-page"] > span').text());

        filterData.pageNumber =   isNaN(currentPageNumber) ? 0 : currentPageNumber;
        filterData.pageSize = parseInt( $('#products-pagesize option[selected]').attr('value') );

        var sliderRange = $("#slider-range");
        var amountSlider = $("input[amount]");
        var viewModes = $('div .product-viewmode > a');
        var productBoxViewMode = $('#product_area')[0];



        // initialisation all events on page
        var makeRequst;

        function initEvent(){

            //Change mode of views for products area
            var changeViewModeProductsBox = viewModes.on('click', function(e){
                e.preventDefault();
                var selectedItem = $('div .product-viewmode > .selected')[0];
                var selectedItemClassValue = selectedItem.attributes.class.value;

                if(!(selectedItem === this))
                {
                    var thisClassValue = this.attributes.class.value;
                    selectedItem.attributes.class.value = selectedItemClassValue.split('selected')[0];
                    var newViewMode = thisClassValue.split(" ")[1];
                    this.attributes.class.value = thisClassValue + "selected"

                    productBoxViewMode.attributes.class.value = productBoxViewMode.attributes.class.value.split("-")[0] +"-"+newViewMode;
                    filterData.viewMode = newViewMode;
                }

            });

            //Add events to range slider and inputs of amount
            var priceRangeEvent = sliderRange.on( "slidestop", function( event, ui ) {
                SlideRangeChanged(ui.values[0],ui.values[1]);
            } );
            var changeEmountEvent = amountSlider.on('change', function(e){

                var minPrice = amountSlider[0].value;
                var maxPrice = amountSlider[1].value;

                SlideRangeChanged(minPrice, maxPrice);
            });

            function SlideRangeChanged(minPrice, maxPrice) {
                var key = 'price';
                var value = minPrice+"-"+maxPrice;
                var updatedUrl = prepareUrl(key, value);
                makeRequst(updatedUrl);
            };
            //
            var specsLinkEvent = $('.group li input[type="checkbox"]').on('click', function(e){
                makeFiltering();
            });

            var orderbyProductsEvent  = $('#products-orderby').on('change', function(e){
                var key = "orderby";

                filterData.orderBy = this.value ;
                var updatedUrl = prepareUrl(key,filterData.orderBy)
                makeRequst(updatedUrl);
            });

            var buttonPageSize = $('#products-pagesize');
            var choosePageSizeEvent  = buttonPageSize.on('change', function(e){
                var key ='pagesize';

                filterData.pageSize = this.value;
                var updatedUrl = prepareUrl(key, filterData.pageSize);
                makeRequst(updatedUrl);
            });

            var buttonRemoveFilters =$('a[removeAllFilters]');
            var deleteAllFiltersEvent = buttonRemoveFilters.on('click', function(e) {

                e.preventDefault();
                var filterItemForUncheck = $('.group li input[specsid]');
                filterItemForUncheck.prop("checked", false);

                var filteredItemBox = $('#blockSpecFiltered');
                filteredItemBox.hide();

                var url = e.currentTarget.href;
                ChangeHistoryUrl(url);
                makeRequst(url);
            });

            //var ChangeProductsListView = $('#').on('clik',function(e){

            //});

            var linkAllFilteredItem = $('a[deleteFilterId]');
            var deleteFilteredItemEvent = linkAllFilteredItem.bind('click',function(e){
                deleteFilterItem(e.currentTarget.attributes.deleteFilterId.value);
            });
        }

        // make filtering by products on page
        var makeFiltering = function(){

            var key = "specs";
            var allCheckedIds = "";
            var allCheckedSpecsFilterItem = $('.group li input[type="checkbox"]');
            var filteredItemsList = $('#allreadyFilteredItemsList > ul[class="already-filtered-items"]');
            filteredItemsList.empty();
            var filteredItemBox = $('#blockSpecFiltered');
            filteredItemBox.hide();


            allCheckedSpecsFilterItem.each(function(e) {

                // if filter is checked, then do next
                if ($(this).is(':checked')) {

                    // show block with items that are checked
                    if(filteredItemBox.css('display') == 'none')
                        filteredItemBox.show();

                    var id = this.getAttribute('specsid')
                    var specsAttributeName = this.parentElement.innerText;

                    //add item into block with filtered items
                    addItemInFilteredBox(id,specsAttributeName);

                    if(allCheckedIds === ""){
                        allCheckedIds = allCheckedIds + id;
                    }
                    else{
                        allCheckedIds =  allCheckedIds +','+id;
                    }
                }
            });

            //var specsId = this.getAttribute('specsid');
            // var url = e.currentTarget.getAttribute('href');

            var updatedUrl = prepareUrl(key, allCheckedIds);
            ChangeHistoryUrl(updatedUrl);
            makeRequst(updatedUrl);
        };

        //delete filter item by filters id
        function deleteFilterItem(filterId){
            var filterItemForUncheck = $('.group li input[specsid="'+ filterId +'"]');
            filterItemForUncheck.prop("checked", false );
            makeFiltering();
        };

        //prepare url for ajax request
        var prepareUrl = function(key,value){

            var currentUrl = window.location.href;
            var newUrl = updateQueryStringParameter(currentUrl ,key ,value);

            //Change url in window
            ChangeHistoryUrl(newUrl);
            return newUrl;
        };

        initEvent();

        //make ajax request to server by url
        makeRequst = function(urlRequst) {

            $.ajax({
                url: urlRequst,
                type: "POST",
                data: filterData,
                beforeSend: function() {
                    $('.loading-area').show();
                },
                complete: function() {
                    $('.loading-area').hide();
                },
                success: function(response) {
                    fetchAndInsert(response);
                }
            });

        };

        //change history url in browser window
        function ChangeHistoryUrl(url) {
            if (typeof (history.pushState) != "undefined") {
                var obj = {Url: url };
                history.pushState(null, null, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
        }

        //change url for correct searching on page
        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                return uri + separator + key + "=" + value;
            }
        }

        // work with data that arrived from server by ajax
        function fetchAndInsert(data)
        {

            //insert html of products that are arrived from server
            var itemsGrid = $('#product_area');
            var productsGridResponseHTML = data.productsBoxPartialView;
            itemsGrid.empty();
            itemsGrid.append(productsGridResponseHTML);


            //insert html of pagination that are arrived from server
            var paginationBox = $('#pagination_area');
            var paginationResponseHtml = data.paginationPartialView;
            paginationBox.empty();
            paginationBox.append(paginationResponseHtml);


            $('#product_area').attr('class',data.viewProductMode);

        }

        // Add item of filter into filtered area and add event to this item
        var addItemInFilteredBox = function(filterId,filterAttributeOptionName){

            var filteredItemsList = $('#allreadyFilteredItemsList > ul[class="already-filtered-items"]');
            var filteredItem = '<li class="item"><a deleteFilterId="'+filterId+'">' + filterAttributeOptionName +
                   '</a></li>';
            filteredItemsList.append(filteredItem);

            $('a[deleteFilterId="'+filterId+'"]').bind('click',function(){
                deleteFilterItem(filterId);
            });
        }
    });

</script>
