﻿#fountainG{
	position:relative;
	width:102px;
	height:12px;
	margin:auto;
}

.loading-area{
    border-radius: 15px;
    width: 180px;
    text-align: center;
    height: 50px;
    position: fixed;
    left: 55%;
    top: 50%;
    opacity: 0.90;
    margin: -75px 0px 0px -135px;
    padding-top: 18px;
    background: rgb(245, 246, 249);
    -webkit-box-shadow: 0px 0px 23px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 0px 0px 23px 0px rgba(50, 50, 50, 0.45);
    box-shadow: 0px 0px 23px 0px rgba(50, 50, 50, 0.45);
    display: table-row-group;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:12px;
	height:12px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:2.86s;
		-o-animation-duration:2.86s;
		-ms-animation-duration:2.86s;
		-webkit-animation-duration:2.86s;
		-moz-animation-duration:2.86s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:8px;
		-o-border-radius:8px;
		-ms-border-radius:8px;
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
}

#fountainG_1{
	left:0;
	animation-delay:1.14s;
		-o-animation-delay:1.14s;
		-ms-animation-delay:1.14s;
		-webkit-animation-delay:1.14s;
		-moz-animation-delay:1.14s;
}

#fountainG_2{
	left:13px;
	animation-delay:1.43s;
		-o-animation-delay:1.43s;
		-ms-animation-delay:1.43s;
		-webkit-animation-delay:1.43s;
		-moz-animation-delay:1.43s;
}

#fountainG_3{
	left:25px;
	animation-delay:1.72s;
		-o-animation-delay:1.72s;
		-ms-animation-delay:1.72s;
		-webkit-animation-delay:1.72s;
		-moz-animation-delay:1.72s;
}

#fountainG_4{
	left:38px;
	animation-delay:2s;
		-o-animation-delay:2s;
		-ms-animation-delay:2s;
		-webkit-animation-delay:2s;
		-moz-animation-delay:2s;
}

#fountainG_5{
	left:51px;
	animation-delay:2.29s;
		-o-animation-delay:2.29s;
		-ms-animation-delay:2.29s;
		-webkit-animation-delay:2.29s;
		-moz-animation-delay:2.29s;
}

#fountainG_6{
	left:64px;
	animation-delay:2.57s;
		-o-animation-delay:2.57s;
		-ms-animation-delay:2.57s;
		-webkit-animation-delay:2.57s;
		-moz-animation-delay:2.57s;
}

#fountainG_7{
	left:76px;
	animation-delay:2.86s;
		-o-animation-delay:2.86s;
		-ms-animation-delay:2.86s;
		-webkit-animation-delay:2.86s;
		-moz-animation-delay:2.86s;
}

#fountainG_8{
	left:89px;
	animation-delay:3.15s;
		-o-animation-delay:3.15s;
		-ms-animation-delay:3.15s;
		-webkit-animation-delay:3.15s;
		-moz-animation-delay:3.15s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(5,67,133);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(5,67,133);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(5,67,133);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(5,67,133);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(5,67,133);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}